/* 
.color1 { #160d18 };
.color2 { #23145b };
.color3 { #09456c };
.color4 { #026f6e };
.color5 { #1ca39e }; 
*/

/* Alinhas texto do carrousel a esquerda */
/* 
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    padding: 20px;
    color: #fff;
    width: 50%;
} 
*/

/* 
.carousel-caption h5,
.carousel-caption p {
    margin: 0;
} 
*/